body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title_component {
  height: 10vw;
  width: 100vw;
  background-color: #4682B4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_component .page_title {
    height: 5vw;
    width: 90vw;
    font: 4vw  Arial, sans-serif;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc_component {
    height: 24vw;
    width: 100vw;
    background-color: #4682B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.desc_component .desc_title {
    height: 3vw;
    width: 90vw;
    background-color: #00FF00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5;
}

.desc_component .desc_list {
    height: 16vw;
    width: 90vw;
    background-color: #00FF00;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
}

.desc_component .desc_list li {
    width: 90%;
    background-color: red;
    margin-left: 2vw;
}

.desc_component .desc_list li p {
    background-color: purple;
    word-wrap: break-word;
}

.adv_component {
    height: 20vw;
    width: 100vw;
    background-color: #4682B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.adv_component .adv_title {
    height: 3vw;
    width: 90vw;
    background-color: #00FF00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5;
}
.adv_component .adv_list {
    height: 16vw;
    width: 90vw;
    background-color: #00FF00;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
}

.adv_component .adv_list li {
    width: 90%;
    background-color: red;
    margin-left: 2vw;
}

.adv_component .adv_list li p {
    background-color: purple;
    word-wrap: break-word;
}